@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;


@use 'base/base';

@use 'abstracts/utilities';

@use 'pages/home';
@use 'pages/project-case-study';

@use 'components/header';
@use 'components/footer';
@use 'components/skills';
@use 'components/mouse-scroll';







